body{
    padding-top: 60px;
    margin-bottom: 50px;
    color: #909090;
    background: #373737 url("../img/bg.png") 0 0 repeat;
}
.input-group, #myTable, #myTableEr, #myTableHistory {
   margin: 0 auto;
}
#myModal .modal-dialog{
    width: 750px;
}
#sidebar1{
    margin-right: 20px;
}

.navbar-toggle {
  width: 100%;
  float: none;
  margin-right: 0;
}
li>a{
    transition:all 200ms;
}
li:hover{
    background-color: #606060;
    transition:all 100ms;
}
#wstats span{
    display:block;
    width:150px;
    height: 100%;
    margin: 0 auto;
    font-size:0.7em;
}
#copyright, .onlinePlayers{
    margin-left:35%;
    margin-right:auto;
}
.x img{
    width: 15px;
    height: 10px;
}

.negative{
    color: red;
}
.positive{
    color: green;
}

.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 600px;
    padding: 15px;
}

// TABLESORTER

table.tablesorter tbody > tr:nth-child(odd) > td,
table.tablesorter tbody > tr:nth-child(odd) > th {
    background-color: #989898;
}
table.tablesorter {
    font-size: 12px;
    background-color: #4D4D4D;
    //width: 1024px;
    border: 2px solid #000;
}
table.tablesorter th {
    text-align: left;
    padding: 5px;
    background-color: #6E6E6E;
}
table.tablesorter td {
    color: #FFF;
    padding: 5px;
}
table.tablesorter .even {
    background-color: #3D3D3D;
}
table.tablesorter .odd {
    background-color: #6E6E6E;
}
table.tablesorter .header {
    background-image: url(../img/normal.gif); 
    background-repeat: no-repeat;
    background-position: center left;
    border-left: 1px solid #FFF;
    border-right: 1px solid #000;
    border-top: 1px solid #FFF;        
    text-align: center;
    padding-top: 8px;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}
table.tablesorter .headerSortUp {
    background-image: url(../img/asc.gif);
    background-repeat: no-repeat;
    background-position: center left;
}
table.tablesorter .headerSortDown {
    background-image: url(../img/desc.gif);
    background-repeat: no-repeat;
    background-position: center left;
}
table.tablesorter tbody tr.normal-row td {
    background: #888;
    color: #fff;
}
table.tablesorter tbody tr.alt-row td {
    background: #555;
    color: #fff;
}

table.tablesorter tr:nth-child(even) {
    background-color: #303030;
}

// MOBILE 

@media(max-width:767px){

}
@media(min-width:768px) and (max-width:991px){

}
@media(min-width:992px) and (max-width:1200px){

}
@media(min-width:1200px){

}